@media (max-width: 380px) {
  .header-content__title {
    font-size: 4rem;
  }

  .destination__title {
    font-size: 2.5rem;
  }

  .newsletter__title {
    max-width: 23rem;
  }
  .footer {
    text-align: center;
  }

  .footer__wrapper {
    text-align: center;
    margin: 0 auto;
  }

  .footer__right {
    justify-content: center;
  }

  .footer-list {
    margin-left: 0;
    width: 100%;
  }
}

@media (max-width: 576px) {
  .footer__wrapper {
    text-align: center;
    margin: 0 auto;
  }
}

@media (min-width: 576px) {
  .footer__wrapper {
    text-align: center;
    margin: 0 auto;
  }
}

@media (min-width: 768px) {
  .nav__btn,
  .nav-menu {
    display: none;
  }
  .menu {
    display: flex;
  }
  .header__links {
    display: block;
  }

  .newsletter {
    flex-direction: row;
    align-items: center;
    text-align: left;
  }

  .newsletter__content {
    flex-basis: 60%;
    padding-right: 2rem;
  }

  .newsletter__banner {
    flex-basis: 40%;
  }

  .newsletter::before {
    width: auto;
    height: auto;
    top: -5rem;
    left: -40rem;
    background-size: auto;
    background-position: center left;
  }
}

@media (min-width: 992px) {
  .nav__link {
    display: block;
  }

  .header-content__text {
    max-width: 50rem;
  }
  .newsletter__content {
    padding-right: 4rem;
  }

  .footer-app {
    display: block;
  }

  .footer-app--mobile {
    display: none;
  }

  .footer__wrapper {
    display: flex;
  }

  .footer__left {
    max-width: 50rem;
  }
  .footer__scroll {
    left: auto;
    right: 12rem;
  }
}

@media (min-width: 1200px) {
  .header {
    min-height: 80rem;
  }
  .newsletter {
    justify-content: space-between;
  }

  .newsletter__content {
    flex-basis: auto;
    padding-right: 2rem;
    width: 60rem;
  }

  .newsletter__banner {
    flex-basis: auto;
    width: 42rem;
  }

  .newsletter::before {
    top: -15rem;
    left: -15rem;
  }
  .footer__wrapper {
    text-align: left;
    margin: 0 auto;
    justify-content: space-between;
  }

  .footer__left {
    padding-left: 5rem;
  }

  .footer__right {
    padding-right: 5rem;
  }

  .footer-list {
    margin-bottom: 0;
    margin-left: 2rem;
  }

  .footer__scroll {
    right: 12rem;
  }
}

@media (min-width: 1400px) {
  .newsletter {
    padding: 3rem 6rem;
  }
}
